@font-face {
  font-family: 'PD Roboto Medium';
  src: local('Medium'), url(./Resources/Fonts/Roboto-Medium.ttf) format('ttf');
}
@font-face {
  font-family: 'PD Roboto Regular';
  src: local('Regular'), url(./Resources/Fonts/Roboto-Regular.ttf) format('ttf');
}
$fontFamilyHeader: "PD Roboto Regular";
$fontFamily: "PD Roboto Medium";

body {
  margin: 0;
  //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //  sans-serif;
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background-image: url("./Resources/Images/background.png");
  background-size: 80%;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #ededed;
}

#root {
  height: 100%;
  width: 100%;
}


//code {
//  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//    monospace;
//}

$primaryColor: #009662;
$primaryColorDark: #00925F;
$primaryColor2: #90FFD8;
$secondaryColor: #B3371B;
$secondaryColor2: #FF5830;



// HEADER COMPONENT CSS
.App-header {
  width: 100%;
  height: 10%;
  background-color: $primaryColor;
  color: black;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-family: $fontFamily, sans-serif;

  & img{
    max-height: 70px;
    margin-left: 5px;
  }
}

.App-name {
  font-size: 14pt;
  margin-left: 15px;
  margin-right: 15px;
  text-transform: uppercase;
  color: white;
}

.App-navi {
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;

  & a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: $fontFamily , sans-serif;
  }
}

.App-navi-item {
  max-width: 120px;
  height: 56px;
  text-align: center;
  padding-right: 7px;
  padding-left: 7px;
  display: flex;
  align-items: center;

  &:hover {
    animation: 0.15s ease-in-out 1 pulse;

    @keyframes pulse {
      0% {
          background: $primaryColor;
          border-bottom: 0px solid $secondaryColor2;
        }

      100% {
        background: $primaryColorDark;
        border-bottom: 2px solid $secondaryColor2;
      }
    }
    background: $primaryColorDark;
    border-bottom: 2px solid $secondaryColor2;
    cursor: pointer;
    color: white;
  }
}

.App-header-right-part{
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 25%;

  & a{
    color: white;
    font-size: 14px;
  }
}

/*Responsive Header*/
@media (max-width: 700px) {
  .App-header {
    flex-direction: column;
    height: 70%;
  }

  .App-navi {
    flex-direction: column;
  }
}

// for button
.MuiButton-containedSecondary{
  background-color: $secondaryColor2 !important;
}
.MuiButton-containedSizeSmall{
  padding: 2px 7px !important;
  font-size: 12px !important;
}

.App-header-exit-button{
  margin-left: 5px;
  margin-right: 5px;

  a {
    text-decoration-line: none;
  }
}

// FreeForm component css
.onefreeform{
  //background-color: aliceblue;
  padding: 10px;
  font-family: $fontFamily, sans-serif;
  width: max-content;
  height: 100%;
}
.MuiFormLabel-root {
  font-size: small!important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid $primaryColor!important;
}

.MuiFormLabel-root.Mui-focused{
  color: $primaryColor!important;
}

/*СТРАНИЦА ПРОФИЛЯ*/

.all_profile_content {
  /*display: flex;
  flex-direction: column;
  /* align-items: center; */
  border: 1px outset gray;
  margin: 50px;
}

.profile_header {
  font-size: large;
  text-transform: uppercase;
  margin: 10px 0;
  text-align: -webkit-center;
  font-weight: normal;
  color:rgba(0, 0, 0, 0.87)
}

.profile_header_line{}
.profile_contents{
  margin: 5%;
}

.all_field{
  /*background-color: whitesmoke;*/
  list-style-type: none;
  border-radius: 3px;
}

.field {
  display: flex;
  justify-content:flex-start;
}

.field > label {
  /*padding: .4em 1em .4em 0;*/
  flex: 0.1;
}
.field > TextArea {
  flex: 2;
}

.profile_local_content{}
.profile_local_name{
  padding: 1%!important;
}
.profile_local_line{}
/*.MuiInput-underline:before{
  content: none!important;
}*/
.MuiInput-underline.Mui-disabled:before{
  border-bottom: 1px solid darkgray!important;
}
.MuiInputBase-root.Mui-disabled{
  color: black!important;
}

.MuiFormControl-root {
  padding: 1%!important;
  /*padding-right: 10%!important;*/
  vertical-align: baseline!important;
}

.MuiInputLabel-formControl {
  top: auto!important;
  left: auto!important;
}
.MuiOutlinedInput-root {
  width: 300px;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
  border-color: $secondaryColor !important;
}

.inputlabel-profile.Mui-focused {
    color: darkgray!important;
    background-color: white;
  }


//RECOMMENDATION COMPONENT
.ComponentBody{
  margin-left: 5%;
}

.RecommendationContainer{
  max-width: 90%;
}


.GrayContainer{
  background-color: #f2f2f2;
  border-color: lightgray;
  color: black;
  & a {
    color: black;

    &:hover {
      color: $secondaryColor;
    }
  }
}

.GreenContainer{
  background-color: lightgreen;
  border-color: $primaryColor;
  color: black;
  & a {
    color: black;

    &:hover {
      color: $secondaryColor;
    }
  }
}

.RedContainer{
  background-color: $secondaryColor;
  border-color: darkred;
  color: white;
  & a {
    color: white;
    &:hover {
      color: black;
    }
  }
}
.RecommendationItem{
  border-width: 0.2px;
  border-style: solid;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 15px;
  font-family: $fontFamily;
  min-height: 90%;


  & h2{
    font-size: 16px;
    font-style: normal;
    margin-top: 0;
  }
  & h3{
    font-size: 16px;
    font-style: revert;
    margin-bottom: 0;
    margin-top: 0.3em;
  }
  & a{
    font-size: 14px;
    font-family: $fontFamily;
    font-style: normal;
    text-decoration: none;
    margin-bottom: 2px;
  }
  & img{
    max-width: 100%;
  }
}

// ПЛАН НА ДЕНЬ
.BodyDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.DayItemsContainer{
  max-width: 80%;
}

.DayItem{
  border: 1px solid darkgray;
  background-color: rgba(255,255,255,0.7);
  border-radius: 2px;
  padding: 10px;
  margin-top: 50px;
  margin-right: 60px;
  min-height: 400px;
}

.MuiPaper-root{
  background-color: rgba(255,255,255,0.95) !important;
  min-height: 400px;
}

.DailySurveyItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  padding: 5px;

  & a{
    text-transform: uppercase;
    margin-right: 8px;
    font-family: $fontFamily;
    font-weight: normal;
    font-size: 14px;
  }
}

/*КАЛЕНДАРЬ СТАТИСТИКА ГРАФИКИ*/
.all_charts{
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid darkgray;
  margin: 50px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.survey_description{
  margin-bottom: 20px;
}

.title_charts{
  margin-top: 1%;
  font-size: large;
  text-transform: uppercase;
  text-align: -webkit-center;
}

.title_calendar{
  margin-top: 4%;
  margin-left: 5%;
  font-color: grey!important;
  font-family: $fontFamily;
  font-weight: normal;
  font-size: 24px;
  align-self: flex-start;
}

.title_line{
  margin-top: 4%;
  margin-left: 5%;
  font-color: grey!important;
  font-family: $fontFamily;
  font-weight: normal;
  font-size: 24px;
  align-self: flex-start;
}

.calendar_charts_field{
  width: 100%;
  align-self: center;
}

.line_charts_field{
  margin-top: 2%;
  margin-bottom: 2%;
  align-self: center;
}

/*ОПРОС*/

.all_surveys {
  padding-bottom: 20px;
  form {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;

    .MuiFormGroup-root {
      flex-direction: column !important;
      justify-content: space-evenly;
    }
    .MuiFormControl-root{
      margin-top: 10px !important;
      margin-bottom: 10px !important;
      padding: 0px !important;
    }
    .PrivateSwitchBase-root-87{
      padding: 2px 8px;
      margin-left: 5px;
    }

    .MuiInputLabel-root{
      margin-left: -10px;
      margin-top: -20px;
    }

    .MuiInputBase-root{
      //background-color: aliceblue;
      margin-left: -10px;
      margin-top: -5px;
    }
    .MuiFormControl-root {
      width: 100%;
    }

    .MuiButton-root {
      background-color: #FF5830;
    }
  }
}

.survey_result_description{
  margin: 15px;
}

/*ПЛАН ДНЯ*/
.all_daily_plan {
  display: flex;
  flex-direction: column;
}

/*АВТОРИЗАЦИЯ*/
.auth_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  .auth_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;


    .authorization {
      background-color: $primaryColor;
      opacity: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 380px;
      width: 99%;

      .MuiInputBase-root {
        background-color: #FFFFFF;
      }

      .auth_header {
        color: #FFFFFF;
        font-family: Roboto, sans-serif;
      }
    }
  }
}