@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* HEADER COMPONENT CSS */
.App-header {
  width: 100%;
  height: 70px;
  background-color: #009662;
  color: black;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-family: Roboto, serif;
}

.App-header img{
  max-height: 70px;
  margin-left: 5px;
}

.App-name {
  font-size: 14pt;
  margin-left: 15px;
  margin-right: 15px;
  text-transform: uppercase;
  color: white;
}

.App-navi {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}

.App-navi-item {
  text-decoration: none;
  color: white;
}